[Desktop Entry]
Encoding=UTF-8
Name=LGeneral
Comment=Panzer General clone
Comment[pl]=Klon gry Panzer General
Exec=lgeneral
Terminal=false
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
